<h3><%= t("Информация за потребителя") %></h3>
<table class="overview">
	<%= cell "Login", h(@user.login) %>
	
	<% if ! @user.not_using_openid? %>
	<%= cell "OpenID URL", h(@user.identity_url) %>
	<% end %>
	
	<%= cell_separator %>
	
	<% change_email_text = @user.not_using_openid? ? " <small>#{link_to t("смени"), edit_email_user_url(@user)}</small>" : "" %>
	
	<%= cell "Email", "#{h(@user.email)}#{change_email_text}" %>
	<% if @user.not_using_openid? %>
	<%= cell t("Парола"), "#{"*"*16} <small>#{link_to t("смени"), edit_password_user_url(@user)}</small>" %>
	<% end %>
	
	<%= cell_separator %>
	
  <%= cell t("Дата на създаване"), t("преди ") + time_ago_in_words(@user.created_at) +" (" + @user.created_at.strftime("%Y/%m/%d %H:%M:%S") + ")" %>
	<%= cell t("Последна промяна"), time_ago_in_words(@user.updated_at) +" (" + @user.updated_at.strftime("%Y/%m/%d %H:%M:%S") + ")"%>
</table>
