<% content_for :sidebar do -%>
<h2>Моят акаунт</h2>

<div id="gravatar">
	<%= gravatar_image_tag( @user.email, :size => 128) %>
</div>

<ul>
	<li><%= link_to "Промяна на профила", edit_profile_url(current_user) %></li>
</ul>

<% if @user.not_using_openid? %>
<ul>
	<li><%= link_to "Смяна на емайл адрес", edit_email_user_url(@user) %></li>
	<li><%= link_to "Смяна на парола", edit_password_user_url(@user) %></li>
</ul>
<% end %>

<% unless admin? -%>
<ul>
	<li><%= link_to "Delete my account", user_url(current_user), :method => :delete, :confirm => "Are you sure you want to schedule your account for deletion? All data linked to your account on #{configatron.site_name} will be removed from our systems.\n\nTHIS ACTION CANNOT BE UNDONE!\n\nThanks for using #{configatron.site_name}. We hope to see you again soon!"%></li>
</ul>
<% end -%>

<p>
	<strong>Как мога да сменя моят аватар?</strong>
</p>

<p>
	<%= configatron.site_name %> използва <%= link_to "Gravatar", "http://gravatar.com" %> за да показва потребителските аватари, те са базирани на емайл адресите.
	<br />
	<%= link_to "Gravatar", "http://gravatar.com" %> е безплатен за ползване. <%= link_to "Регистрирайте се", "http://gravatar.com/signup" %> ако все още нямате регистрация в <%= link_to "Gravatar", "http://gravatar.com" %>.
</p>
<% end -%>
