<% if @profile.nil? -%>
	<% content_for :header do -%>
    <%= t("Информацията не беше намерена") %>
	<% end -%>
	
	<p><%= t("Информацията за потребителя, която търсите, не съществува.") %></p>
<% else -%>
	<% content_for :header do -%>
    <%= t("Редактиране на профила") %>
	<% end -%>

	<%= render :partial => 'profiles/my_account' if current_user == @user %>

	<% unless @profile.user.not_using_openid? %>
	<p>
		<%= t("Това е вашият") %> <%= configatron.site_name %> <%= t("профил. Той не е свързан с OpenID Identity.") %>
	</p>
	<% end %>
	
	<%= form_for @profile, :url => profile_url(@profile.user), :html => {:method => :put} do |f| %>
	
	<% @profile.public_attributes.each do |column| -%>
		<p><label><%= column.humanize %></label><br />
		<%= input "profile", "#{column}", :value => @profile.send(column) %>
		</p>
	<% end -%>
	
	<%= submit_tag t("Запази промените") %>
	
	<% end %>
<% end -%>
