<h2><%= t("Management") %></h2>

<ul>
	<li><%= link_to t("Manage user accounts"), admin_users_url %></li>
	<li><%= link_to t("Manage agents"), admin_agents_url %></li>
	<li><%= link_to t("Manage places"), admin_places_url %></li>
</ul>

<h2>Settings</h2>

<ul>
	<li><%= link_to "Manage #{configatron.site_name} settings", admin_settings_url %></li>
</ul>

<h2>Announcements</h2>

<ul>
	<li><%= link_to "Manage Site Announcements", admin_announcements_url %></li>
</ul>
