<% content_for :header do -%>
  <%= t("Промяна на емайл адрес") %>
<% end -%>

<%= form_for @user, :url => update_email_user_url(@user), :html => {:method => :put} do |f| %>

  <p>
    <%= t("Моля въведете вашият нов емайл адрес.") %> <br />
    <%= t("Моля бъдете сигурни че е правилен, в последствие ще го ползвате за да получите вашата парола.") %></p>

	<p><%= text_field_tag 'email', '', :size => 20 %></p>

	<p><%= submit_tag t("Запазете новия емайл") %> <%= t("или") %> <%= link_to t("се откажете от промените"), profile_url(@user) %></p>
	
<% end %>
