<h1>Забравена парола?</h1>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field session_username clearfix">
  <%= f.label t :email %><br />
  <%= f.text_field :email, :class => "widest larger" %>
  </div>


  <p><%= f.submit t("Send me instructions via email") %></p>
<% end %>

<%# render :partial => "devise/shared/links" %>
