  <footer>
    <%= render :partial => "shared/annotated" %>
    <div id='locations'>
      <address>
        <strong><%= t("partial-footer-address01-strong") %></strong>
        <br />
        <%= t("partial-footer-address01-br01") %>
        <br />
        <%= t("partial-footer-address01-br02") %>
        <br />
      </address>
      <address>
        <strong><%= t("partial-footer-address02-strong") %></strong>
        <br />
        <%= t("partial-footer-address01-br01") %>
        <br />
        <a href="tel:+359 52 602 448">(+359) 52 602 448</a>
        <br />
        <a href="tel:+359 52 602 448">факс: (+359) 52 602 445</a>
      </address>
    </div>
  </footer>
