<section class="box" id="activity">
  <div id="slideshow"></div>
  <div class="copy">
    <hgroup>
      <h1><%= t("page-activity-h1") %></h1>
    </hgroup>
    <p>
      <%= t("page-activity-p01") %>
    </p>
    <h2><%= t("page-activity-h2-01") %></h2>
    <p>
      <%= t("page-activity-p02") %>
    </p>
    <h2><%= t("page-activity-h2-02") %></h2>
    <p>
      <%= t("page-activity-p03") %>
      <ul>
        <li><%= t("page-activity-li-01") %></li>
        <li><%= t("page-activity-li-02") %></li>
        <li><%= t("page-activity-li-03") %></li>
        <li><%= t("page-activity-li-04") %></li>
        <li><%= t("page-activity-li-05") %></li>
        <li><%= t("page-activity-li-06") %></li>
      </ul>
    </p>
    <h2><%= t("page-activity-h2-03") %></h2>
    <p>
      <%= t("page-activity-p04") %>
    </p>
    <p>
      <%= t("page-activity-p05") %>
    </p>
  </div>
</section>
