<section class="box" id="policy">
  <div id="slideshow"></div>
  <div class='copy'>
    <hgroup>
      <h1><%= t("page-policy-h1") %></h1>
      <h2><%= t("page-policy-h2-01") %></h2>
    </hgroup>
    <p>
      <%= t("page-policy-p01") %>
    </p>
    <p>
      <%= t("page-policy-p02") %>
    </p>
    <p>
      <%= t("page-policy-p03") %>
    </p>
    <p>
      <%= t("page-policy-p04") %>
    </p>
    <p>
      <%= t("page-policy-p05") %>
    </p>
    <p>
      <%= t("page-policy-p06") %>
    </p>
    <p>
      <%= t("page-policy-p07") %>
    </p>
  </div>
</section>
<section id='sidebar'>
  <nav>
    <ul>
      <li><%= link_to t("pilot_code"), pilot_code_path %></li>
    </ul>
  </nav>
</section>

