<div id="main-welcome">
  <h2><%= t("page-welcome-h2") %></h2>
  <p>
    <%= t("page-welcome-p01") %>
     <a href="http://www.varnapilots.com">varnapilots.com</a>.
  </p>
  <br />
  <p>
    <%= t("page-welcome-p02-chunk-01") %>
     <%= link_to t("page-welcome-registration"), new_registration_path(:user) %>, <%= t("page-welcome-p02-chunk-02") %> <%= link_to t("page-welcome-login"), new_session_path(:user) %> <%= t("page-welcome-p02-chunk-03") %>
  </p>
</div>


<div class="hrule">
<hr>
</div>

<%= render :partial => "shared/rotate_images" %>

