= form_for @agent do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :contacts
    %br
    = f.text_area :contacts
  %p
    = f.label :status
    %br
    = f.text_field :status
  %p
    = f.label :editor_id
    %br
    = f.text_field :editor_id
  %p
    = f.submit
