<section class="narrow-box">
  <h2 class="page-title"><span>Начало</span></h2>
  <nav>
    <ul>
      <li><%= fork_big_button_link_to "Предстоящи маневри", pilotage_forth_man_index_path %></li>
      <li><%= pin_big_button_link_to  "Позиции на корабите", pilotage_forth_man_index_path %></li>
      <li><%= rss_big_button_link_to "Хиперкуб анализатор", pilotage_forth_man_index_path %></li>
      <li><%= big_button_link_to "Предстоящи маневри", pilotage_forth_man_index_path %></li>
      <li><%= big_button_link_to "Предстоящи маневри", pilotage_forth_man_index_path %></li>
      <li><%= big_button_link_to "Предстоящи маневри", pilotage_forth_man_index_path %></li>
    </ul>
  </nav>
</section><!-- //.narrow-box -->
