<section class="narrow-box">
  <h2 class="page-title"><span><%= t("Начало") %></span></h2>
  <nav>
    <ul>
      <li>&nbsp;</li>
      <li><%= fork_big_button_link_to t("Предстоящи маневри"), pilotage_forth_man_index_path %></li>
      <li><%= pin_big_button_link_to  t("Позиции на корабите"), pilotage_forth_man_index_path %></li>
      <li><%= rss_big_button_link_to t("Хиперкуб анализатор"), pilotage_forth_man_index_path %></li>
      <li><%= log_big_button_link_to t("Предстоящи маневри"), pilotage_forth_man_index_path %></li>
      <li>&nbsp;</li>
    </ul>
  </nav>
</section><!-- //.narrow-box -->
