<ul>

	<li style="float: right;"><%= tab_to t("Настройки"), [{:controller => "admin/settings"}] %></li>

	
	<li><%= tab_to t("Работен плот"), [{:controller => "admin/dashboard"}] %></li>
	<li><%# tab_to t("Заявки"), [ orders_path ] %></li>
	<li><%= tab_to t("Потребители"), [{:controller => "admin/users"}] %></li>
	<li><%= tab_to t("Агент"), [{:controller => "admin/agents"}] %></li>
  <li><%= tab_to t("Места") + "(#{Place.count})", [{:controller => "admin/places"}] %></li>
  <li><%= tab_to t("Влекач") + "(#{Tug.count})", [{:controller => "admin/tugs"}] %></li>
  <!--
	<li><%= tab_to t("Анонси"), [{:controller => "admin/announcements" }] %></li>
  -->
</ul>
