<% t "Quotes" %>

<table>
  <tr>
    <th>Message</th>
    <th>Author</th>
  </tr>
  <% for quote in @quotes %>
    <tr>
      <td><%= quote.message %></td>
      <td><%= quote.author %></td>
      <td><%= link_to "Show", quote %></td>
      <td><%= link_to "Edit", edit_quote_path(quote) %></td>
      <td><%= link_to "Destroy", quote, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Quote", new_quote_path %></p>
