<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>
	<%= (stylesheet_link_merged :page).html_safe %>
	<%# (javascript_include_merged :defaults ).html_safe %>
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%=  csrf_meta_tag %>
</head>

<body class="login">
  <header>
  <h1><%= link_to "PilotOder.BG", root_path %></h1>
  <nav>
  <ul>
    <li><%= link_to t("Дейност"), activity_path %> </li>
    <li><%= link_to t("Политика"), policy_path %> </li>
    <li><%= link_to t("Сертификати"), certificates_path %> </li>
    <li><%= link_to t("Цени"), prices_path %> </li>
  </ul>
  </nav>
  <%= render :partial => "shared/annotated" %>
  </header>
  <section id='content' style="padding: 0;">
  <header>
  <div id='main' class="login">
    <%= yield %>
  </div>
  </header>
  </section>

  <%= render :partial => "shared/footer" %>
</body>
</html>
