<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>

	<%= (stylesheet_link_merged :base).html_safe %>
	<%# (javascript_include_merged :defaults ).html_safe %>
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%=  csrf_meta_tag %>
  <!-- include jQuery library -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <!-- include Cycle plugin -->
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.2.74.js"></script>
</head>

<body>
  <header>
  <h1><%= link_to "PilorOder.BG", root_path %></h1>
  <nav>
  <ul>
  <li><%= tab_to "Дейност", [ {:controller => "page", :action => "activity" } ] %></li>
  <li><%= tab_to "Политика", [ {:controller => "page", :action => "policy" }, {:controller => "page", :action => "pilot_code" }] %></li>
  <li><%= tab_to "Цени", [ {:controller => "page", :action => "prices" }, {:controller => "page", :action => "price_table_1" }, {:controller => "page", :action => "price_table_2" } ] %></li>
  </ul>
  </nav>
  <%= render :partial => "shared/annotated" %>
  </header>
  <section id='content'>
  <header>
  <div class='box'>
  <blockquote><p>&ldquo;<%= @quote.message %>&rdquo;</p></blockquote>
  <p><%= @quote.author %></p>
  </div>
  </header>
  <div id='main'>
    <%= yield %>
  </div>
  
  </section>

  <footer>
  <%= render :partial => "shared/annotated" %>
  <div id='locations'>
  <address>
  <strong>Морска гара</strong>
  <br>
  Рейдова кула Варна 
  <br>
  Варна - 9001 п.к. 9
  <br>
  </address>
  <address>
  <strong>Диспечер</strong>
  <br>
  УКВ 14 Канал
  <br>
  <a href="tel:+359 52 602 448">(+359) 52 602 448</a>
  <br>
  <a href="tel:+359 52 602 448">факс: (+359) 52 602 445</a>
  </address>
  </div>
  </footer>
</body>
</html>
