<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>

	<%= (stylesheet_link_merged :base, "jquery.jqzoom").html_safe %>
	<%= stylesheet_link_tag 'mobile' if mobile_device? %>
  <%=  csrf_meta_tag %>
	<%# (javascript_include_merged :rails ).html_safe %>
  <%= javascript_include_tag "jquery-1.5.1.min" %>
  <%= javascript_include_tag "jquery.cycle.all.2.74" %>
  <%= javascript_include_tag "jquery.jqzoom-core-pack" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails" %>

</head>

<body>
  <header>
  <h1><%= link_to "PilorOder.BG", root_path %></h1>
  <nav>
  <ul>
  <li><%= tab_to "Дейност", [ {:controller => "page", :action => "activity" } ] %></li>
  <li><%= tab_to "Политика", [ {:controller => "page", :action => "policy" }, {:controller => "page", :action => "pilot_code" }] %></li>
  <li><%= tab_to "Сертификати", [ {:controller => "page", :action => "certificates" } ] %></li>
  <li><%= tab_to "Цени", [ {:controller => "page", :action => "prices" }, {:controller => "page", :action => "price_table_1" }, {:controller => "page", :action => "price_table_2" } ] %></li>
  </ul>
  </nav>
  <%= render :partial => "shared/annotated" %>
  </header>
  <section id='content'>
  <%- if @quote %>
    <header>
    <div class='box'>
      <blockquote><p>&ldquo;<%= @quote.message %>&rdquo;</p></blockquote>
      <p><%= @quote.author %></p>
    </div>
    </header>
  <%- end %>
  <div id='main'>
    <%= yield %>
  </div>
  
  </section>

  <%= render :partial => "shared/footer" %>
</body>
</html>
